.title{
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.subTitle{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	
}

.caption{
	-fx-font-weight: bold;
	-fx-font-style: italic;
}

 
.table-row-cell{
    -fx-background-color: azure ;

}

.table-row-cell:odd{
    -fx-background-color: lightgray ;
}

.table-row-cell:selected{
    -fx-background-color: lightslategray ;
}

.table-row-cell:empty{
	-fx-background-color: white ;
}

.table-row-cell:empty .table-cell{
	-fx-border-width: 0 ;
}

/*     für Liste auch wie table :     */

.list-cell{
    -fx-background-color: azure ;

}

.list-cell:odd{
    -fx-background-color: lightgray ;
}

.list-cell:selected{
    -fx-background-color: lightslategray ;
}

.list-cell:empty{
	-fx-background-color: white ;
}
